<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.shopynn.print</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/shopynn-print/run-shopynn-print.sh</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>WorkingDirectory</key>
	<string>/usr/local/shopynn-print/app</string>
	<key>StandardOutPath</key>
	<string>/usr/local/var/log/shopynn-print.log</string>
	<key>StandardErrorPath</key>
	<string>/usr/local/var/log/shopynn-print.err.log</string>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PRINT_HOST</key>
		<string>0.0.0.0</string>
		<key>PRINT_PORT</key>
		<string>3001</string>
	</dict>
</dict>
</plist>
